<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script th:src="@{/static/test.js}"></script>
</head>
<body>
你好，
<span id="username"></span>
您的年龄是：
<span id="age"></span>
<button onclick="updateData()">点我更新页面数据</button>
<button onclick="sendData()">点我发送数据</button>

<div>
    <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit">
    </form>
</div>

<a href="download" download="=test.html">下载最新资源</a>
</body>
</html>